<html>
	<head>
		<title>Atzcart || Verification Code </title>
	</head>
	<body>
		<table width="700" border="0" align="center" cellspacing="0" style="width:700.0px">
		    <tbody>
		    <tr>
		        <td>
		            <div style="width:700.0px;margin:0 auto;border-bottom:1.0px solid #cccccc;margin-bottom:30.0px">
		            </div>
		            <div style="width:680.0px;padding:0 10.0px;margin:0 auto">
		                <div style="line-height:1.5;font-size:14.0px;margin-bottom:25.0px;color:#4d4d4d">
		                    <strong style="display:block;margin-bottom:15.0px">
		                       Dear member:
		                    </strong>
		                    <strong style="display:block;margin-bottom:15.0px">                        
								Please enter the following code 
		                        <span style="color:#ff6600;font-size:24.0px">123456</span> to verify your account.
		                    </strong>
		                </div>
		
		                <div style="margin-bottom:30.0px">
		                    <small style="display:block;margin-bottom:20.0px;font-size:12.0px">
		                        <p style="color:#747474">
									Please pay attention: <br>
									After verification, you will be able to modify your password, login email address and cell phone number. <br>
									If you did not apply for a verification code, <br>
									please sign in to your account and change your password to ensure your account's security. <br>
									In order to protect your account, please do not allow others access to your email. 
		                        </p>
		                    </small>
		                </div>
		            </div>
		            <div style="width:700.0px;margin:0 auto">
		                <div style="padding:10.0px 10.0px 0;border-top:1.0px solid #cccccc;color:#747474;margin-bottom:20.0px;line-height:1.3em;font-size:12.0px">
		                    <p>atzcart.com. All rights reserved.</p>
		                </div>
		            </div>
		        </td>
		    </tr>
		    </tbody>
		</table>
	</body>
</html>